 {% extends "base.html" %}
{% block content %}
<div>
{% include 'mnav.html' %}
</div>
 <form action="" method="POST" class="ui form">

      {% csrf_token %}
<div>
<label>E_Coliform</label>
<input type="number" name="a"></div>
<div>
<label>Total_Coliform</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Temperature</label>
<input type="number" name="b"></div>
<div>
<div>
<label>pH</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Turbidity</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Dissolved_Oxygen</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Conductivity</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Total_Dissolved_Solids</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Total_Suspended_Solids</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Total_Hardness</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Biological_Oxygen_Demand</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Aluminium</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Boron</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Chloride</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Chromium</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Copper</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Cyanide</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Fluoride</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Lead</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Manganese</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Nickel</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Nitrate</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Nitrite</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Chlorine</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Zinc</label>
<input type="number" name="b"></div>
<div>
<div>
<label>COD</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Sulphate</label>
<input type="number" name="b"></div>
<div>
<div>
<label>Sulphide</label>
<input type="number" name="b"></div>
<div>
<label>Cadmium</label>
<input type="number" name="c"></div>
<div>
<label>Nickle</label>
<input type="number" name="d"></div>
<div>
<label>Iron</label>
<input type="number" name="e"></div>
<div>
<label>Ammonium</label>
<input type="number" name="f"></div>
<div>
<label>Manganese</label>
<input type="number" name="f"></div>
<div>
<label>Phenol</label>
<input type="number" name="f"></div>
<div>
<button class="ui primary button" type="submit"> Submit  </button></div>
</form>
<div style="margin-left: -5%;margin-right: -5%;margin-top: 5%;">
{% include 'footer.html' %} 
</div>
{% endblock  %}