{% include 'mnav.html' %}
<div style="margin-top:-30px;">
{% include 'slider.html' %}
</div>
<div>
<div style="background-color:rgb(255,255,0);">
<marquee direction = "right" width="60%" scrollamount="17" height="100px"><strong><h1>{{new.new}}</h1></strong></marquee>
</div>
<div style="background-color:rgb(192,192,192);">
<strong><h3>{{post.title}}</h3></strong>
<hr>
<strong><h4>{{post.discription}}</h4></strong>
</div>
</div>
{% include 'services.html' %}
{% include 'epamembers.html' %}


{% include 'footer.html' %}
